$mapHeight: 40vh;
$mapWidth: 30%;


.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
}

.map {
  border-color: blue;
  height: $mapHeight;
  width: $mapWidth;
}
